<div class='new-view'>
  <% if logged_in? %>

    <div class='headers'>
      <%= image_tag('nav/newpitch.png', height: 60) %>
    </div>
    <hr>
    <%= render "pitches/form", object: @pitch %>
    
  <% end %>
</div>