<div class='container-fluid'>
  <% if logged_in? %>

    <div class='headers'>
      <%= image_tag('models/newpitch.png', height: 60) %>
    </div>

    <%= render "pitches/form", object: @pitch %>
    
  <% end %>
</div>