<h1>You have to sign up first to view our pitches</h1>

<div class="signup">
  <h3>Not a user yet?</h3>
  <%= link_to "Sign up", new_user_path  %>
</div>

<div class="login">
  <h3>Already a member?</h3>
  <%= link_to "Log in", login_path  %>
</div>