<div class='error'>
  <div class='headers'>
    <%= image_tag('nav/error.png', height: 40) %>
    <hr>
  </div>

  <div>
    <h5>You do not have permission to view this page.</h5>
  </div>
</div>

<h5 class="error-back"><%= link_to "Take me back to the pitches.", pitches_path %></h5>