<h1>You do not have permission to edit this pitch.</h1>

<h3>This pitch belongs to someone else. Please contact the pitch owner with any questions.</h3>

<h3>Take me back to <%= link_to "all the pitches.", pitches_path %></h3>