<div class='about'>
  <%= image_tag 'footer/about.png', height: 30, :id => 'headers'%>
  <hr>
  <p>Pitchr is an idea bank. We specialize in hosting television pitches (and pilots, coming soon!) to help you connect with new directors, producers, and most importantly, to help you find your next development project. For use by production companies or individual producers and writers to post and view new ideas from teammates and to share with network connections for easy pitch management.</p>
</div>

<%= link_to "Back home", root_path %>