<div class='contact'>
  <%= image_tag 'footer/contact.png', height: 50, :id => 'headers' %>
  <hr>
  <h3>We love our pitchrs!</h3>
  <p>Whether it's comments, suggestions, complaints, or you just want to say hello, we would love to hear from you. We're always a work in progress so any and all feedback is always welcome. 
  
  <br> 
  <br> 

  Disclaimer: No copyright infringement intended. If you feel any content on this site has been wrongfully shared, please contact us below and we will respond to you as soon as we can.</p>
  
  <hr>
  
  <%= mail_to "karenskimdev@gmail.com",(image_tag 'footer/email.png', height: 35, :id => 'email'), subject: "Hello, Pitchr!" %>
</div>
<br>
<%= link_to "Back home", root_path %>