<% if logged_in? %>
  <%= link_to "View all pitches here!", pitches_path %>

<% else %>
  <div class='container-fluid' id='welcome'>
    <div class='text-center'>
      <h1 id='welcome'>Welcome to</h1>
      <%= image_tag 'logos/pitchr-welcome.png', width: '200px', class: 'img-responsive center-block' %>
      <p id='tagline'>Discover your next big hit</p>
    </div>
  </div>

<% end %>