// Place all the styles related to the Pitches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pitch and company filter styling
@mixin filter {
  font-family: 'open sans', sans serif;
  text-align: center;
  margin: 30px;
  input {
    padding-left: 5px;
    width: 450px;
    height: 30px;
    border-style: none;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
  }
}

// pitch show view
.pitch-info {
  background-color: white;
  text-align: center;
 width: 650px;
  padding: 1px 15px 0px 15px;
  .pitch-img {
  }
  .pitch-descrip {
    width: 500px;
    overflow: scroll;
    text-align: center;
    margin: 0 auto;
  }
  hr {
    width: 500px;
  }
  #pitch-edit a:hover {
    text-decoration: none;
    color: black;
  }
}

// pitch title filter 
#filter-title,
#filter-company {
  @include filter;
  #submit-title { // submit button 
    width: 100px;
    background-color: #ffcc66;
  }
  #submit-company { // submit button
    width: 130px;
    background-color: #ffcc66;
  }
}

// pitch index list
.pitch-title {
  text-align: center;
  width: 250px;
  overflow: scroll;
}

// pitch show view
.pitch-title-upcase {
  margin: 20px auto;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 500px;
  overflow: scroll;
}

// new pitch upload view
.new-view {
  width: 650px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 20px;
  .headers {
    padding-top: 30px;
  }
  hr {
    width: 500px;
  }
}

.form-group {
  width: 500px;
  margin: 0 auto;
}

// view/pitch/edit
.edit-pitch-view {
  width: 650px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 20px;
  .headers {
    padding-top: 30px;
  }
  hr {
    width: 500px;
  }
}

#edit-my-profile {
  width: 100%;
  text-align: center;
}

// pitch edit permission denied
.error {
  margin-top: 20px;
  width: 650px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  img {
    margin-top: 15px;
  }
  hr {
    width: 580px;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

// bottom link on pitch edit error view
.error-back {
  text-align: center;
}