// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin form {
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 20px;
  text-align: left;
  background-color: white;
  width: 450px;
  font-family: 'open sans', 'sans serif';
  hr {
    width: 300px;
  }
  .input {
    width: 70%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .submit-btn {
    border: 1px solid #e2e2e2;
    background-color: #eeeeee;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .msg {
    text-align: center;
  }
}

@mixin titles {
  font-family: bebas;
  letter-spacing: 2px;
}

.pink-title {
  @include titles;
  color: #f9cbcd;
}

.blue-title {
  @include titles;
  color: #81cdee;
}

//view/signup
.signup-view, 
//view/login
.login-view, 
// view/users/edit
.edit-view {
  @include form;
}

// view/pitch/new
.new-view {
  @include form;
  padding-bottom: 20px;
}

// view/pitch/edit
.edit-pitch-view {
  @include form;
  margin: 0 auto;
  padding: 20px;
}

#edit-my-profile {
  width: 100%;
  text-align: center;
}

// view/users/show
#about-user {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  position: relative;
}

.users-view {
  width: 130px;
}

.user-avatar {
  text-align: center;
  img {
    border-radius: 100%;
  }
}

.user-avatar-show {
  width: 130px;
  img {
    border-radius: 100%;
    margin: 0;
  }
}

.user-name-company {
  width: 130px;
  text-align: center;
}
