// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin form {
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  background-color: white;
  width: 40%;
  border-radius: 20px;
  margin-top: 30px;
  font-family: 'open sans', sans serif;
  .input {
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .login-btn {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background-color: #eeeeee;
    text-align: center;
  }
}

.header-logo {
  margin-top: 20px;
}

//view/signup
.signup-view {
  @include form;
}

//view/login
.login-view {
  @include form;
}

// view/users/edit
.edit-view {
  @include form;
}

// view/pitch/new
.new-view {
  @include form;
  padding-bottom: 20px;
}

// view/pitch/edit
.edit-pitch-view {
  @include form;
  margin: 0 auto;
  padding: 20px;
}

// view/pitch/show#comments
.comment-view {
  @include form;
  margin: 0 auto;
  padding: 20px;
  ul { 
    padding: 0;
    overflow: scroll;
    margin-left: 0;
  }
}

#edit-my-profile {
  width: 100%;
  text-align: center;
}

// view/users/show
#about-user {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  position: relative;
}

.users-view {
  width: 130px;
}

.user-avatar {
  text-align: center;
    img {
    border-radius: 100%;
    }
}

.user-avatar-show {
  width: 130px;
    img {
    border-radius: 100%;
    margin: 0;
    }
}

.user-name-company {
  width: 130px;
  text-align: center;
}
