// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Amatic SC', cursive;

// welcomes#index
// 'welcome to pitchr'
#welcome {
  margin-top: 30px;
  font-family: $font;
  text-align: center;
}

//links to render log in and sign up page partials
// 'already a member? or not a user yet?'
.users {
  text-align: center;
  font-family: $font;
  letter-spacing: 3px;  
  margin-top: 25px;
    h3 { font-size: 1.5em; }
    img { margin-bottom: 10px; }
}

.welcome-upcase {
  text-transform: uppercase;
}

// about page
.about {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  width: 650px;
  hr {
    width: 550px;
  }
  #headers{
    margin-top: 30px;
  }
  #email {
    margin-bottom: 30px;
  }
  p {
    width: 550px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
}
