// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Amatic SC', cursive;

// welcomes#index
// 'welcome to pitchr'
#welcome {
  margin-top: 30px;
  font-family: $font;
  text-align: center;
}

//links to render log in and sign up page partials
// 'already a member? or not a user yet?'
.users {
  text-align: center;
  font-family: $font;
  letter-spacing: 3px;  
  margin-top: 25px;
    h3 { font-size: 1.5em; }
    img { margin-bottom: 10px; }
}

#logged-in-msg {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 35px;
  margin-left: 10px;
  left: 0;
  color: #999999;
}
